<!DOCTYPE html>
<html>
  <head>
    <title>Image Melter</title>
    <meta name="description" content="Melt your images!">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Welcome to the Most Advanced Special Effect™ of 1993 
      </h1>
    </header>

    <main>
      <p>DOOM and <a href="https://www.youtube.com/watch?v=4Xe6leSt_dU">Castlevania: Symphony of the Night</a>
        both used a very specific transition effect:
        the <a href="http://doom.wikia.com/wiki/Screen_melt">screen melt</a> or screen wipe.
      </p>
      <p>
        Now, you too can wield this powerful effect!
      </p>
      <aside>
        <img alt="DOOM Screen melt effect transitioning from the title screen to the first level"
             src="https://vignette.wikia.nocookie.net/doom/images/0/04/Screen_melt.gif/revision/latest?cb=20100614021739">
      </aside>
      <form>
        <input id="melter-input" type="file">
        <label>Slices<input id="melter-slice-count" type="text" value="256"></label>
        <label>Vertical Increment<input id="melter-vertical-inc" type="text" value="10"></label>
        <label>Maximum Start Offset<input id="melter-max-start-offset" type="text" value="16"></label>
        <input id="melter-render" type="button" value="Render">
      </form>
      <section>
        <div id="melter-render-output"></div>
      </section>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <script src="https://unpkg.com/preact@8.2.7/dist/preact.js"></script>
    <script src="/hyperx.js"></script>
    <script src="/gif/gif.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
